{% load static %}

button {
	color: white;
	transition: font-size 0.5s, background-color 0.5s;
	width: 5em;
	height: 5em;
	padding: 0px;
	background-color: #555;
	border-radius: 15px;
}

button:hover {
	background-color: #777;
	transform: scale(1.1);
}

.rollContainer {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	margin:20px;
	padding: 20px;
}

#rolls {
	font-size: 1.5em;
}

#total {
	font-size: 2em;
}

