{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/mainstyles.css' %}" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<title></title>
<style type="text/css">
</style>
{% block head %} {% endblock %}
</head>
<body>
	<nav>
		{% with request.resolver_match.url_name as url_name %} <a
			href="{% url 'index' %}"
			class="{% if url_name == 'index' %}active{% endif %}"><i
			class="bi bi-house"></i> Home</a> <a href="{% url 'mycharacters' %}"
			class="{% if url_name == 'mycharacters' %}active{% endif %}"><i
			class="bi bi-file-earmark-text"></i> My Character Sheets</a> <a
			href="{% url 'diceroll' %}"
			class="{% if url_name == 'diceroll' %}active{% endif %}"><i
			class="bi bi-dice-6"></i> Roll Dice</a> {% endwith %}
	</nav>

	<section class="firstSection">
		<div id="content">
			{% block content %} {% if user.is_authenticated %}
			<header>
				<h1>Welcome to RPG Sheets, {{ user.username }}!</h1>
			</header>
			{% else %}
			<header>
				<h1>Welcome to RPG Sheets!</h1>
			</header>
			<div class="login-container">
				<div>
					<h2>Already registered?</h2>
					<h3>Login now!</h3>
					<a class="auth-link" href="{% url 'login' %}">Login</a>
				</div>
				<div>
					<h2>New user?</h2>
					<h3>Register your account now!</h3>
					<a class="auth-link" href="{% url 'signup' %}">Sign up</a>

				</div>
			</div>
			{% endif %} {% endblock %}
		</div>
	</section>
	<script type="text/javascript" src="{% static '/js/main.js' %}"></script>
</body>
</html>